@use "../../node_modules/bulma/sass/utilities/mixins.sass" as mix;
@use "../../node_modules/bulma/sass/utilities/initial-variables.sass" as bul;

// import web fonts via google fonts CDN
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');

// import a local font in various font weights
@font-face {
  font-family: "Saira Semi Condensed";
  src: url('../assets/fonts/Saira/SairaSemiCondensed-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Saira Semi Condensed";
  src: url('../assets/fonts/Saira/SairaSemiCondensed-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Saira Semi Condensed";
  src: url('../assets/fonts/Saira/SairaSemiCondensed-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}

// define some variables which can be used in _variables.scss
$text: 'Atkinson Hyperlegible', 'Segoe UI', 'Roboto', 'Arial', sans-serif;
$title: 'Saira Semi Condensed', 'Roboto', 'Arial', sans-serif;


.short-text-block {
  font-size: 1.1em;

  @include mix.from(bul.$tablet) {
    font-size: 1.4em;
    max-width: 500px;
    margin: auto;
  }

  @include mix.from(bul.$desktop) {
    font-size: 1.6em;
  }
}