* {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

h1, h2, h3 {
    font-weight: 800;
}

body {
    margin: 3rem;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 30%;
}

a {
    color: #3360a2;
    text-decoration: none;
}

a:hover {
    color: #6197e7;
    text-shadow:
        -0.4px 0 currentColor, 0 0.4px currentColor, 0.4px 0 currentColor, 0 -0.4px currentColor;
}

img,
picture,
video {
  max-width: 100%;
}