@use "../abstracts/variables" as *;
@use "../../node_modules/bulma/sass/utilities/mixins.sass" as mix;

.cart {
  max-width: 800px;
  margin: auto;
}

.cart-table {
  @include mix.from($tablet) {
    font-size: 1.2rem;
  }

  td, th {
    vertical-align: middle !important;
  }

  td, figure {
    height: 5em !important;
    max-height: 5em !important;
  }

  tbody {
    tr:hover {
      cursor: pointer;
    }

    figure, img {
      width: auto;
      height: 100%;
      aspect-ratio: 2 / 3;
    }
  }

  th:last-child,
  td:last-child:not(.empty-row) {
    text-align: right !important;
  }

  tfoot {
    th {
      height: 3em !important;
    }
  }

  #no-items-footer td {
    text-align: center !important;
    font-style: italic;
    color: $grey;
    background-color: $scheme-main;
  }
}