@use "../abstracts/variables" as *;
@use "../../node_modules/bulma/sass/utilities/mixins.sass" as mix;

#book-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  gap: 1rem;

  @include mix.from($desktop) {
    padding: 2.5rem;
    gap: 2.5rem;
  }

  &:after {
    content: "";
    flex: auto;
    flex-basis: 450px;
    flex-grow: 0; // 1
  }
}

.book-preview {
  display: inline-block;
  flex-grow: 0; // 1
  flex-basis: 450px;

  &:hover {
    color: $text;
    background-color: lighten($background, 5%);
    // uncomment this for a striking visual hover effect
    // box-shadow: $shadow !important;

    // .title {
    //   color: $link-hover;
    // }
  }

  .card-content {
    // width: 450px;
    height: auto;
    align-items: stretch;
  }

  .book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0.3rem;
    flex-basis: 60%;

    @include mix.from($tablet) {
      font-size: 1.2rem;
    }

    .title, .subtitle {
      // restrict the book title and author to two lines of full width and add an ellipsis ("...") after
      display: -webkit-box;
      line-clamp: 2;  /* number of lines to show */
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @include mix.from($desktop) {
        line-clamp: 3;  /* number of lines to show */
        -webkit-line-clamp: 3;
      }
    }

    .title {
      font-size: 1.1em;
    }

    .subtitle {
      font-size: 1em;
    }
  }

  .rating {
    .star {
      width: 21px;
      height: 20px;

      path {
        fill: $star-empty-color;
      }

      &[data-filled] path {
        fill: $star-filled-color;
      }
    }
  }

  @include mix.from($desktop) {
    padding: 0.5rem;

    .book-info {
      padding-left: 0.8rem;
    }
  }

  .cover {
    flex-basis: 40%;
  }

  figure, img {
    object-fit: cover;
  }
}