@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as mix;

$tilt-angle: 3deg;

.my-hero {
  position: relative;
  text-align: center;
  line-height: 5rem;
  margin-bottom: 4rem;

  &::after {
    @include mix.tilted-rectangle($background, 100px, $tilt-angle, -3);
  }

  h1 {
    font-size: 2rem;

    &::before {
      @include mix.tilted-rectangle($dim-blue, 100px, calc(-2 * $tilt-angle), -2);
    }
  
    &::after {
      @include mix.tilted-rectangle($dim-magenta, 100px, $tilt-angle, -1);
    }
  }

  /* reduce the tilt angle on larger devices */
  @include mix.from($desktop) {
    $tilt-angle: 1.5deg;

    &::after {
      @include mix.tilted-rectangle($background, 100px, $tilt-angle, -3);
    }
  
    h1 {
      font-size: 2rem;
  
      &::before {
        @include mix.tilted-rectangle($dim-blue, 100px, calc(-2 * $tilt-angle), -2);
      }
    
      &::after {
        @include mix.tilted-rectangle($dim-magenta, 100px, $tilt-angle, -1);
      }
    }
  }
}