@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as mix;

$tilt-angle: 3deg;

// @include from($desktop) {
//   $tilt-angle: 30deg;
// }

.my-hero {
  width: 100%;
  position: relative;
  text-align: center;
  line-height: 5rem;
  margin-bottom: 50px;

  &::after {
    @include mix.tilted-rectangle($background, 100px, $tilt-angle, -3);
  }

  h1 {
    font-size: 2rem;

    &::before {
      @include mix.tilted-rectangle($background, 100px, $tilt-angle, -3);
      content: '';
      display: block;
      position: absolute;
      z-index: -2;
      top: -5px;
      left: -15%;
      width: 130%;
      height: 100px;
      background-color: rgba(0, 95, 182, 0.38);
      rotate: calc(-2 * $tilt-angle);
    }
  
    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      top: -5px;
      left: -15%;
      width: 130%;
      height: 100px;
      background-color: rgba(165, 26, 135, 0.63);
      rotate: $tilt-angle;
    }
  }
}