@import url(variables.css);

#page {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
}

.card {
  margin: 30px;
  padding: var(--card-padding);
  flex-basis: var(--card-width, 100%);
  flex-grow: 1;
  background-color: var(--card-bg-color, white);
  box-shadow: var(--card-shadow-h-offset, 5px)
              var(--card-shadow-v-offset, 5px)
              var(--card-shadow-blur, 5px)
              var(--card-main-color, red);
}

.card-title {
  text-align: center;
  font-weight: 700;
  font-size: var(--card-font-size);
  padding-bottom: 0.3em;
}

code {
  font-family: monospace;
  font-weight: 600;
  color: var(--code-font-color, red);
  background-color: var(--code-bg-color, white);
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
  word-wrap: break-word;
  box-decoration-break: clone;
}


@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}