@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=block');

body {
  min-height: 100lvh;
  min-width: 100vw;
  background-color: rgb(34, 34, 34);
}

#page {
  width: 100%;
  overflow-x: hidden;
}

.waves {
  position: absolute;
  margin-top: 30px;
  width: 100%;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 800px;
  object-fit: cover;
}

.headline {
  /* move text to the center of the parent */
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  color: white;
  font-family: 'Poiret One', sans-serif;
  font-size: 75px;
  font-weight: 600;
  user-select: none;
}