@use "sass:map";
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.btn-base {
  color: #838EA4;
  border: 0;
  font-weight: 500;
  font-size: .975rem;
  padding: 1rem 1.25rem;
  text-decoration: none;
}

@each $color, $value in $theme-colors {
  // creates a button style class for every color in the theme-colors map
  .btn-#{$color} {
    @extend .btn-base;
    @include button($value);
  }
}

.btn-link {
  @extend .btn-base;
  background: transparent;

  &:hover {
    color: map.get($theme-colors, "primary");
  }
}

.btn-icon {
  @extend .btn-base;
  border-radius: 4px;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
  