.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-logo {
  width: 110px;
}

.my-nav-item {
  margin-left: min(3rem, 5vw);
}

.my-nav-link {
  text-decoration: none;
  color: #0A2463;
  font-size: .95rem;
  font-weight: 500;
}

.my-header {
  padding: 1.5rem;
  padding-bottom: 15rem;
  margin-bottom: 20rem;
  background-color: #F2F5FA;
}

.my-header-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}