@use "../abstracts/variables" as *;
@use "../../node_modules/bulma/sass/utilities/mixins.sass" as mix;

#thumbnail {
  display: flex;
  align-items: center;
  height: calc(100svh - $navbar-height);
  position: relative;
  overflow: hidden;

  // put the background image inside a pseudo-element in order to
  // rotate it by -90deg for mobile devices (background-images are not rotatable)
  &::before {
    content: '';
    position: absolute;
    top: 0;
    height: calc(100svh - $navbar-height);
    width: 100vw;
    z-index: -5;

    // background image
    background-image: url(../assets/svg/waves.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // rotate image to landscape mode on mobile and tablet devices
    @include mix.until($desktop) {
      transform-origin: 0 0;
      rotate: -90deg;
      width: calc(100svh - $navbar-height);
      height: 100vw;
      top: 100%;
    }
  }

  .catchphrase {
    text-align: center;
    width: 100%;

    .title {
      font-size: 3.5rem;
      font-weight: 700;
    }

    .subtitle {
      font-size: 1.5rem;
      font-weight: 300;
      color: $text;
    }

    @include mix.from($desktop) {
      .title {
        font-size: 4.5rem;
      }
  
      .subtitle {
        font-size: 2.0rem;
      }
    }
  }
}

#thumbnail + .section {
  padding-top: 0;
}

.graphic-column {
  max-height: clamp(30vh, 400px, 55svh);

  .graphic {
    width: 100%;
    height: 100%;
    padding: 0.5em;
  }
}