@use "../abstracts/variables" as *;
@use "../../../node_modules/bulma/sass/utilities/mixins.sass" as mix;

footer {
  margin-top: 20px;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);

  @include mix.from($desktop) {
    font-size: 1.2rem;
  }

  div {
    max-width: clamp(300px, 40vw, 600px);
    margin: auto;
  }

  a {
    color: $text;

    &:hover {
      color: darken($text, 20);
    }
  }
}