/*
  Defines custom variables to be used within SCSS modules and  
  overrides bulma's default variables to create a custom theme
*/

@use "../general/typography" as font;

// import bulma's initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";


/*
  Custom colours
*/
$my-black: #1e1e1e;
$my-dark-grey: #2c2c2c;
$my-white: #EEEEEE;

$my-primary: #0b7fc1;
$my-turquoise: rgba(0, 255, 255, 0.45);
$my-lavender: #a67dff;

$dim-blue: rgba(0, 95, 182, 0.38);
$dim-magenta: rgba(165, 26, 135, 0.63);


/*
  Bulma theme overrides
*/
$primary: $my-primary;

$scheme-main: $my-black;
$scheme-main-bis: lighten($my-black, 10%);
$scheme-main-ter: lighten($my-black, 20%);

$scheme-invert: $my-white;
$scheme-invert-bis: darken($my-white, 10%);
$scheme-invert-ter: darken($my-white, 20%);

$background: $my-dark-grey;

$turquoise: $my-turquoise;
$lavender: $my-lavender;


/*
  Bulma typography overrides
*/
$text: $my-white;
$family-sans-serif: font.$text;
$link: $lavender;
$link-hover: lighten($lavender, 10%);


/*
  Bulma component-specific overrides
*/
$navbar-background-color: $background;
$navbar-dropdown-background-color: $background;
$navbar-height: 5rem;
$navbar-item-active-color: $link-hover;
$navbar-item-active-background-color: darken($background, 2%);

$footer-background-color: $turquoise;
$footer-padding: 4rem 1.5rem 5rem;


// lastly, import bulma's derived variables which will now be calculated using the overrides
@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";
